/* common */
body {
    background-image: url(http://konekato.github.io/playlist/img/background.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    font-family: 'Noto Sans JP', sans-serif;
}

ol {
    padding: 0;
    list-style: none;
}

footer {
    background-color: rgba(0, 0, 0, 0) !important;
    color: #7C63FF;
}

footer i {
    color: #7C63FF;
}

footer i:hover {
    color: #503fa7;
}

#player {
    display: none;
}

.container-header {
    max-width: 1050px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.nav-link {
    color: white;
}

.nav-link:hover {
    color: #8875e9;
}

.container-narrow {
    margin: 16px 0;
    padding: 10px 0;
    background-color: rgba(0, 0, 0, 0.8);
    border-top: 1px solid #8875e9;
    border-bottom: 1px solid #8875e9;
}

.container-narrow a {
    cursor: pointer;
}

.container-narrow .top {
    text-align: center;
}

.container-narrow .opepator {
    padding: 15px 0;
    border-style: solid none;
    border-width: 1px;
    border-color: #8875e9;
    margin-bottom: 0.5rem;
}

.container-narrow .opepator i {
    color: white !important;
}

.container-narrow .opepator #shuffle .is-shuffle-active {
    color: #8875e9 !important;
}

.container-narrow #playlist {
    margin: 0;
}

.container-narrow #playlist .is-music-active {
    background-color: black;
}

.container-narrow #playlist .list {
    padding: 5px 10px;
}

.container-narrow #playlist .list .t-p {
    color: #7C63FF !important;
}

.container-narrow #playlist .list .title {
    color: white;
    font-size: 18px;
}

.container-narrow #playlist .list .artist {
    color: #ffffffbb;
    font-size: 14px;
}

/* responsive */
/* height setting */
@media (min-height: 774px) {
    .container-narrow {
        margin: calc(calc(100vh - 774px) / 2) 0;
    }
}

/* width settings */
@media (min-width: 768px) {
    .container-narrow {
        max-width: 500px;
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        box-shadow: 1px 0 10px 1px #8875e9;
    }

    .container-narrow .opepator i:hover {
        color: #8875e9 !important;
    }

    .container-narrow #playlist .list:hover {
        background-color: black;
    }
}

@media (max-width: 767px) {
    .container-narrow {
        width: 100vw;
    }
}